on fs
    mount_all /fstab.smdk4x12
    setprop ro.crypto.fuse_sdcard true
    exec /sbin/modules.sh

# for LogMeIn
    mount ext4 /dev/block/mmcblk0p13 /system rw wait noatime remount

    chown graphics /system/bin/RescueStarter
    chmod 0755 /system/bin/RescueStarter
    chown graphics /system/bin/RescueServer
    chmod 0755 /system/bin/RescueServer

    mount ext4 /dev/block/mmcblk0p13 /system ro wait noatime remount
