on fs
    mount_all /fstab.smdk4x12

    setprop ro.crypto.fuse_sdcard true

    chown radio system /efs
    chmod 0771 /efs

on boot
# create virtual SD card at /mnt/sdcard, based on the /data/media directory
# daemon will drop to user/group system/media_rw after initializing
# underlying files in /data/media wil be created with user and group media_rw (1023)
service sdcard /system/bin/sdcard /data/media /mnt/shell/emulated 1023 1023
    class late_start
